@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>All submitted data is stored on user's device and isn't accessible to anybody else but the user.</p>
<p>User can always view, edit and delete submitted data.</p>
